<div>
  <p>La explotación agrícola "Las Valles", situada en Samper de Calanda (Teruel), i
  se dedica a la cría intensiva y estabulada de ovejas y corderos, 
  así como a la fabricación de un extraordinario queso de oveja, curado.</p>
  <img src="" alt="">
  <p>Su amplio tamaño, su moderna quesería, su sistema de producción, 
  así como sus avanzadas técnicas ganaderas, la hacen modelo a seguir en la gestión
  integral de una explotación ovina, siendo el queso "Las Valles" su máximo exponente, junto con los exquisitos corderos.</p>
</div>
