<div class="container-fluid text-center cajas">
  <div class="row">
    <div class="col-md-4 caja">
      <h1>Quesos Las Valles</h1>
    </div>
    <div class="col-md-4 caja"><a ui-sref="queso" ui-sref-active="active-nav" ng-click="changeQA()">Nuestro queso</a></div>
    <div class="col-md-4 caja"><a ui-sref="granja">Granja Las Valles</a></div>
  </div>
  <div class="row">
    <div class="col-md-4 caja"><a ui-sref="fotos">Fotografias</a></div>
    <div class="col-md-4 caja"><a ui-sref="contacto">Contacto</a></div>
  </div>
</div>
