<!DOCTYPE html>
<html lang="es" ng-app="lasvalles">
  <head>
    <meta charset="UTF-8">
    <base href="/" target="" />
    <meta name="description" content="queso las valles, bajo martin, leche, oveja, cruda" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="author" content="Samuel Ruiz de Gopegui Muñoz"/>
    <title>Quesos Las Valles</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="src/style/style.css" media="all">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular.min.js"></script>
  </head>
  <body>
    <header>
      <h1><p class="text-center">Quesos las Valles</p></h1>
      <img src="" alt="">
      <nav class="text-right">
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">Las Valles</a></li>
          <li><a href="">Granja Las Valles</a></li>
        </ul>
      </nav>
    </header>
    <div class="container-fluid text-center cajas">
      <div class="row">
        <div class="col-md-4 caja">
          Bienvenidos a Quesos Las Valles.
        </div>
        <div class="col-md-4 caja">Quesos Las Valles elaborados con leche cruda 100% de oveja criadas de manera natural...</div>
        <div class="col-md-4 caja">Granja Las Valles</div>
      </div>
      <div class="row">
        <div class="col-md-4 caja">Beneficios del Queso</div>
        <div class="col-md-4 caja">Fotografias</div>
        <div class="col-md-4 caja">Contacto</div>
      </div>
    </div>
    <footer>
      <p class="text-center">&copy; 2016 - Quesos Las Valles</p>
    </footer>
  </body>
</html>
