<!DOCTYPE html>
<html lang="es" ng-app="valles">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="queso las valles, bajo martin, leche, oveja, cruda" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="author" content="Samuel Ruiz de Gopegui Muñoz"/>
    <base href="/" target="" />
    <title>Quesos Las Valles</title>
   <!-- inject:css -->
   <!-- endinject -->
  </head>
  <body>
    <lasvallesheader></lasvallesheader>
    <ui-view></ui-view>
    <footer>
   <!-- inject:js -->
   <!-- endinject -->
    <foote></foote>
    </footer>
  </body>
</html>
