<div class="queso">
  <p>Samper de Calanda, comarca del Bajo Martin, se encuentra la granja donde cuidamos a
  nuestras ovejas para que nos den su preciado tesoro: la leche con la que hacemos nuestro queso "Las Valles"</p>
  <p>Las Valles es el fruto del trabajo cuidadoso que hacemos con las ovejas, su alimentación, 
  su bienestar, para que nos obsequien al ordeñarlas con una leche de excelente calidad. 
  Y después de una muy artesana y esmerada elaboración de la misma, y de unos meses de curado, tenemos nuestro extraordinario queso.</p>
  <img src="" alt="">
  <img src="" alt="">
  <p>En distintas ocasiones nuestro queso ha sido merecedor de premios, especialmente a la mejor calidad como queso curado puro de oveja.</p>
</div>
